[MESSAGES CONTROL]
disable=
    duplicate-code,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-boolean-expressions,
    too-many-return-statements,
